/* Общие стили для всего приложения */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}

button.on {
    background-color: green;
    color: white;
}

button.off {
    background-color: red;
    color: white;
}

.devices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    max-width: 100%;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

p {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.sensor-data {
    margin: 20px 0;
    font-size: 18px;
    color: #333;
}

.weather {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .weather {
        position: static;
        margin-top: 20px;
    }
}

/* Стили для конкретных страниц */

/* Стили для index.html */
.index-container {
    max-width: 800px;
    margin: 0 auto;
}

/* Стили для devices.html */
.devices-container {
    max-width: 800px;
    margin: 0 auto;
}

.devices .device {
    margin-bottom: 10px;
}

.devices .device .status {
    font-size: 16px;
    margin-left: 10px;
}

/* Стили для control.html */
.control-container {
    max-width: 600px;
    margin: 0 auto;
}

.control-container form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-container input[type="text"] {
    flex: 1;
    margin-right: 10px;
}

.control-container button[type="submit"] {
    flex-basis: 100px;
}

/* Стили для chat.html */
.chat-container {
    max-width: 600px;
    margin: 0 auto;
}

.chat-container form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container input[type="text"] {
    flex: 1;
    margin-right: 10px;
}

.chat-container button[type="submit"] {
    flex-basis: 100px;
}
