<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Разработчики</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Разработчики</h1>
    </header>
    <main>
        <ul>
            <li><a href="https://github.com/serega20112">Serega20112</a></li>
            <li><a href="https://github.com/korsh624">korsh624</a></li>
        </ul>
    </main>
    <footer>
        <button onclick="location.href='{{ url_for('index') }}'">Назад</button>
    </footer>
</body>
</html>
