<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Управление устройствами</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function toggleDevice(device) {
            fetch(`/toggle/${device}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    // Обновляем кнопку после получения ответа
                    let button = document.getElementById(device.toLowerCase());
                    button.classList.toggle('on');
                    button.classList.toggle('off');
                    button.innerText = `${device} (${data.state ? 'Включено' : 'Выключено'})`;
                })
                .catch(error => {
                    console.error('There has been a problem with your fetch operation:', error);
                });
        }
    </script>
</head>
<body>
    <h1>Управление устройствами</h1>
    <div class="sensor-data">
        <p>Температура: {{ temperature if temperature is not none else "N/A" }} °C</p>
        <p>Влажность: {{ humidity if humidity is not none else "N/A" }} %</p>
    </div>
    <div class="devices">
        {% for device, state in devices.items() %}
            <button id="{{ device|lower }}" onclick="toggleDevice('{{ device }}')" class="{{ 'on' if state else 'off' }}">
                {{ device }} ({{ 'Включено' if state else 'Выключено' }})
            </button>
        {% endfor %}
    </div>
    <button onclick="location.href='{{ url_for('index') }}'">Вернуться на главную</button>
    <div class="weather">
        {% if weather %}
            <p>Погода: {{ weather.description }}</p>
            <p>Температура: {{ weather.temperature }} °C</p>
            <p>Влажность: {{ weather.humidity }} %</p>
        {% else %}
            <p>Не удалось загрузить данные о погоде</p>
        {% endif %}
    </div>
</body>
</html>
